In [3]:
import pandas as pd

# 1. XML data --> https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/student.xml

Hardcoding to import xml file

In [20]:
import pandas as pd 
import xml.etree.ElementTree as et 

xtree = et.parse("F:\EdYoda\Machine Learning\Pandas\student.xml")
xroot = xtree.getroot() 

df_cols = ["id","name", "salary"]
rows = []

for node in xroot: 
    s_id = node.attrib.get("user")
    s_id = node.find("id").text if node is not None else None
    s_name = node.find("name").text if node is not None else None
    s_salary = node.find("salary").text if node is not None else None
    
    
    rows.append({"id":s_id,"name": s_name, "salary": s_salary}).

out_df = pd.DataFrame(rows, columns = df_cols)

In [21]:
print(out_df)

    id        name salary
0  123     Shubham      0
1  234      Pankaj      0
2  345  JournalDev      0

In [28]:
print(out_df.describe())

         id     name salary
count     3        3      3
unique    3        3      1
top     123  Shubham      0
freq      1        1      3

In [29]:
print(out_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
id        3 non-null object
name      3 non-null object
salary    3 non-null object
dtypes: object(3)
memory usage: 200.0+ bytes
None

In [9]:
import pandas as pd
import xml.etree.ElementTree as et

def parse_XML(xml_file, df_cols): 
    """Parse the input XML file and store the result in a pandas 
    DataFrame with the given columns. 
    
    The first element of df_cols is supposed to be the identifier 
    variable, which is an attribute of each node element in the 
    XML data; other features will be parsed from the text content 
    of each sub-element. 
    """
    
    xtree = et.parse(xml_file)
    xroot = xtree.getroot()
    rows = []
    
    for node in xroot: 
        res = []
        res.append(node.attrib.get(df_cols[0]))
        for el in df_cols[1:]: 
            if node is not None and node.find(el) is not None:
                res.append(node.find(el).text)
            else: 
                res.append(None)
        rows.append({df_cols[i]: res[i] 
                     for i, _ in enumerate(df_cols)})
    
    out_df = pd.DataFrame(rows, columns=df_cols)
        
    return out_df

In [26]:
student_xml = parse_XML("F:\EdYoda\Machine Learning\Pandas\student.xml",["user","id","name", "salary"])
print(student_xml)

   user   id        name salary
0  None  123     Shubham      0
1  None  234      Pankaj      0
2  None  345  JournalDev      0

In [30]:
print(student_xml.describe())

       user   id     name salary
count     0    3        3      3
unique    0    3        3      1
top     NaN  123  Shubham      0
freq    NaN    1        1      3

In [31]:
print(student_xml.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
user      0 non-null object
id        3 non-null object
name      3 non-null object
salary    3 non-null object
dtypes: object(4)
memory usage: 224.0+ bytes
None

# 2. JSON datatype --> https://raw.githubusercontent.com/corysimmons/colors.json/master/colors.json#

In [34]:
colors_json = pd.read_json("F:\EdYoda\Machine Learning\Pandas\colors.json")
print(colors_json)

   aliceblue  antiquewhite  aqua  aquamarine  azure  beige  bisque  black  \
0        240           250     0         127    240    245     255      0
1        248           235   255         255    255    245     228      0
2        255           215   255         212    255    220     196      0
3          1             1     1           1      1      1       1      1

   blanchedalmond  blue  ...  tomato  transparent  turquoise  violet  wheat  \
0             255     0  ...     255            0         64     238    245
1             235     0  ...      99            0        224     130    222
2             205   255  ...      71            0        208     238    179
3               1     1  ...       1            0          1       1      1

   white  whitesmoke  yellow  yellowgreen  rebeccapurple
0    255         245     255          154            102
1    255         245     255          205             51
2    255         245       0           50            153
3      1           1       1            1              1

[4 rows x 149 columns]

In [35]:
print(colors_json.describe())

        aliceblue  antiquewhite        aqua  aquamarine       azure  \
count    4.000000      4.000000    4.000000    4.000000    4.000000
mean   186.000000    175.250000  127.750000  148.750000  187.750000
std    123.485492    117.048067  146.936211  111.941577  124.700642
min      1.000000      1.000000    0.000000    1.000000    1.000000
25%    180.250000    161.500000    0.750000   95.500000  180.250000
50%    244.000000    225.000000  128.000000  169.500000  247.500000
75%    249.750000    238.750000  255.000000  222.750000  255.000000
max    255.000000    250.000000  255.000000  255.000000  255.000000

            beige      bisque  black  blanchedalmond        blue  ...  \
count    4.000000    4.000000   4.00        4.000000    4.000000  ...
mean   177.750000  170.000000   0.25      174.000000   64.000000  ...
std    118.421212  115.218633   0.50      117.149477  127.334206  ...
min      1.000000    1.000000   0.00        1.000000    0.000000  ...
25%    165.250000  147.250000   0.00      154.000000    0.000000  ...
50%    232.500000  212.000000   0.00      220.000000    0.500000  ...
75%    245.000000  234.750000   0.25      240.000000   64.500000  ...
max    245.000000  255.000000   1.00      255.000000  255.000000  ...

           tomato  transparent   turquoise      violet       wheat  white  \
count    4.000000          4.0    4.000000    4.000000    4.000000    4.0
mean   106.500000          0.0  124.250000  151.750000  161.750000  191.5
std    107.236499          0.0  109.216528  112.659886  110.602517  127.0
min      1.000000          0.0    1.000000    1.000000    1.000000    1.0
25%     53.500000          0.0   48.250000   97.750000  134.500000  191.5
50%     85.000000          0.0  136.000000  184.000000  200.500000  255.0
75%    138.000000          0.0  212.000000  238.000000  227.750000  255.0
max    255.000000          0.0  224.000000  238.000000  245.000000  255.0

       whitesmoke      yellow  yellowgreen  rebeccapurple
count         4.0    4.000000     4.000000       4.000000
mean        184.0  127.750000   102.500000      76.750000
std         122.0  146.936211    93.482619      65.454182
min           1.0    0.000000     1.000000       1.000000
25%         184.0    0.750000    37.750000      38.500000
50%         245.0  128.000000   102.000000      76.500000
75%         245.0  255.000000   166.750000     114.750000
max         245.0  255.000000   205.000000     153.000000

[8 rows x 149 columns]

In [36]:
print(colors_json.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Columns: 149 entries, aliceblue to rebeccapurple
dtypes: int64(149)
memory usage: 4.8 KB
None

# 3. XLSX (Excel) --> https://github.com/edyoda/data-science-complete-tutorial/blob/master/Data/sales-funnel.xlsx
You can use your own data also. when you click on b=view raw it will download file automatically.

In [40]:
sales_xlsx = pd.read_excel("F:\EdYoda\Machine Learning\Pandas\sales-funnel.xlsx")
print(sales_xlsx.head())

   Account                          Name            Rep       Manager  \
0   714466               Trantow-Barrows   Craig Booker  Debra Henley
1   714466               Trantow-Barrows   Craig Booker  Debra Henley
2   714466               Trantow-Barrows   Craig Booker  Debra Henley
3   737550  Fritsch, Russel and Anderson   Craig Booker  Debra Henley
4   146832                  Kiehn-Spinka  Daniel Hilton  Debra Henley

       Product  Quantity  Price     Status
0          CPU         1  30000  presented
1     Software         1  10000  presented
2  Maintenance         2   5000    pending
3          CPU         1  35000   declined
4          CPU         2  65000        won

In [38]:
print(sales_xlsx.describe())

             Account   Quantity          Price
count      17.000000  17.000000      17.000000
mean   462254.235294   1.764706   30705.882353
std    259093.442862   1.032558   28444.605609
min    141962.000000   1.000000    5000.000000
25%    218895.000000   1.000000    7000.000000
50%    412290.000000   2.000000   30000.000000
75%    714466.000000   2.000000   40000.000000
max    740150.000000   5.000000  100000.000000

In [39]:
print(sales_xlsx.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
Account     17 non-null int64
Name        17 non-null object
Rep         17 non-null object
Manager     17 non-null object
Product     17 non-null object
Quantity    17 non-null int64
Price       17 non-null int64
Status      17 non-null object
dtypes: int64(3), object(5)
memory usage: 1.2+ KB
None

# converting xlsx to pkl

In [43]:
sales_xlsx.to_pickle("sales.pkl")

In [45]:
sales_pkl = pd.read_pickle("sales.pkl")
print(sales_pkl)

    Account                          Name            Rep        Manager  \
0    714466               Trantow-Barrows   Craig Booker   Debra Henley
1    714466               Trantow-Barrows   Craig Booker   Debra Henley
2    714466               Trantow-Barrows   Craig Booker   Debra Henley
3    737550  Fritsch, Russel and Anderson   Craig Booker   Debra Henley
4    146832                  Kiehn-Spinka  Daniel Hilton   Debra Henley
5    218895                     Kulas Inc  Daniel Hilton   Debra Henley
6    218895                     Kulas Inc  Daniel Hilton   Debra Henley
7    412290                 Jerde-Hilpert     John Smith   Debra Henley
8    740150                    Barton LLC     John Smith   Debra Henley
9    141962                    Herman LLC    Cedric Moss  Fred Anderson
10   163416                   Purdy-Kunde    Cedric Moss  Fred Anderson
11   239344                    Stokes LLC    Cedric Moss  Fred Anderson
12   239344                    Stokes LLC    Cedric Moss  Fred Anderson
13   307599   Kassulke, Ondricka and Metz     Wendy Yule  Fred Anderson
14   688981                   Keeling LLC     Wendy Yule  Fred Anderson
15   729833                     Koepp Ltd     Wendy Yule  Fred Anderson
16   729833                     Koepp Ltd     Wendy Yule  Fred Anderson

        Product  Quantity   Price     Status
0           CPU         1   30000  presented
1      Software         1   10000  presented
2   Maintenance         2    5000    pending
3           CPU         1   35000   declined
4           CPU         2   65000        won
5           CPU         2   40000    pending
6      Software         1   10000  presented
7   Maintenance         2    5000    pending
8           CPU         1   35000   declined
9           CPU         2   65000        won
10          CPU         1   30000  presented
11  Maintenance         1    5000    pending
12     Software         1   10000  presented
13  Maintenance         3    7000        won
14          CPU         5  100000        won
15          CPU         2   65000   declined
16      Monitor         2    5000  presented

# 5. Simple text data it can be read as csv . link--> https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/adult.data.txt

In [4]:
adult_data =pd.read_csv("https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/adult.data.txt")

In [5]:
print(adult_data)

       39          State-gov   77516    Bachelors   13        Never-married  \
0      50   Self-emp-not-inc   83311    Bachelors   13   Married-civ-spouse
1      38            Private  215646      HS-grad    9             Divorced
2      53            Private  234721         11th    7   Married-civ-spouse
3      28            Private  338409    Bachelors   13   Married-civ-spouse
4      37            Private  284582      Masters   14   Married-civ-spouse
...    ..                ...     ...          ...  ...                  ...
32555  27            Private  257302   Assoc-acdm   12   Married-civ-spouse
32556  40            Private  154374      HS-grad    9   Married-civ-spouse
32557  58            Private  151910      HS-grad    9              Widowed
32558  22            Private  201490      HS-grad    9        Never-married
32559  52       Self-emp-inc  287927      HS-grad    9   Married-civ-spouse

             Adm-clerical   Not-in-family   White     Male   2174   0   40  \
0         Exec-managerial         Husband   White     Male      0   0   13
1       Handlers-cleaners   Not-in-family   White     Male      0   0   40
2       Handlers-cleaners         Husband   Black     Male      0   0   40
3          Prof-specialty            Wife   Black   Female      0   0   40
4         Exec-managerial            Wife   White   Female      0   0   40
...                   ...             ...     ...      ...    ...  ..  ...
32555        Tech-support            Wife   White   Female      0   0   38
32556   Machine-op-inspct         Husband   White     Male      0   0   40
32557        Adm-clerical       Unmarried   White   Female      0   0   40
32558        Adm-clerical       Own-child   White     Male      0   0   20
32559     Exec-managerial            Wife   White   Female  15024   0   40

        United-States   <=50K
0       United-States   <=50K
1       United-States   <=50K
2       United-States   <=50K
3                Cuba   <=50K
4       United-States   <=50K
...               ...     ...
32555   United-States   <=50K
32556   United-States    >50K
32557   United-States   <=50K
32558   United-States   <=50K
32559   United-States    >50K

[32560 rows x 15 columns]

In [6]:
adult_csv = pd.read_csv("F:/EdYoda/Machine Learning/Pandas/adult_data.txt",header=None)
print(adult_csv)

       0                  1       2            3   4                    5   \
0      39          State-gov   77516    Bachelors  13        Never-married
1      50   Self-emp-not-inc   83311    Bachelors  13   Married-civ-spouse
2      38            Private  215646      HS-grad   9             Divorced
3      53            Private  234721         11th   7   Married-civ-spouse
4      28            Private  338409    Bachelors  13   Married-civ-spouse
...    ..                ...     ...          ...  ..                  ...
32556  27            Private  257302   Assoc-acdm  12   Married-civ-spouse
32557  40            Private  154374      HS-grad   9   Married-civ-spouse
32558  58            Private  151910      HS-grad   9              Widowed
32559  22            Private  201490      HS-grad   9        Never-married
32560  52       Self-emp-inc  287927      HS-grad   9   Married-civ-spouse

                       6               7       8        9      10  11  12  \
0            Adm-clerical   Not-in-family   White     Male   2174   0  40
1         Exec-managerial         Husband   White     Male      0   0  13
2       Handlers-cleaners   Not-in-family   White     Male      0   0  40
3       Handlers-cleaners         Husband   Black     Male      0   0  40
4          Prof-specialty            Wife   Black   Female      0   0  40
...                   ...             ...     ...      ...    ...  ..  ..
32556        Tech-support            Wife   White   Female      0   0  38
32557   Machine-op-inspct         Husband   White     Male      0   0  40
32558        Adm-clerical       Unmarried   White   Female      0   0  40
32559        Adm-clerical       Own-child   White     Male      0   0  20
32560     Exec-managerial            Wife   White   Female  15024   0  40

                   13      14
0       United-States   <=50K
1       United-States   <=50K
2       United-States   <=50K
3       United-States   <=50K
4                Cuba   <=50K
...               ...     ...
32556   United-States   <=50K
32557   United-States    >50K
32558   United-States   <=50K
32559   United-States   <=50K
32560   United-States    >50K

[32561 rows x 15 columns]

In [7]:
adult_csv.decribe()

AttributeError: 'DataFrame' object has no attribute 'decribe'

In [8]:
adult_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
0     32561 non-null int64
1     32561 non-null object
2     32561 non-null int64
3     32561 non-null object
4     32561 non-null int64
5     32561 non-null object
6     32561 non-null object
7     32561 non-null object
8     32561 non-null object
9     32561 non-null object
10    32561 non-null int64
11    32561 non-null int64
12    32561 non-null int64
13    32561 non-null object
14    32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB